@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  font-family: 'Domine', sans-serif;
}

/* **********
  BACKGROUND
********** */

#background-video {
  /* Set video to 100% width and height */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  /* set content to start at top of window */
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
}

/* **********
  SIDEBAR
********** */

.sidebar {
  /* sidebar is initally hidden upon page-load */
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgb(1, 21, 44, 0.5);
  transition:all 0.7s ease;
}

.sidebar header {
  font-size: 30px;
  color: #EAEBED;
  text-align: center;
  line-height: 100px;
  background-color: rgb(94, 165, 250, 0.7);
  user-select: none;
}

.sidebar ul a {
  /* Link display */
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: #EAEBED;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid #014392;
  border-bottom: 1px solid black;
  transition: 0.7s;
}

ul li:hover a {
  /* Hover effect */
  padding-left: 50px;
  background-color: #335B8A;
}

.sidebar ul a i {
  margin-right: 15px;
}

#check {
  /* Used to switch displays */
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
}

#btn {
  /* Set Nav Button inital position & display */
  left: 48px;
  top: 25px;
  font-size: 25px;
  color:#EAEBED;
  background-color: #01152C;
  padding: 6px 8px;
  transition: all 0.7s ease;
}

#cancel {
  /* Set Cancel Button inital postion & display */
  z-index: 1111;
  left: -220px;
  top: 5px;
  font-size: 25px;
  color:#EAEBED;
  padding: 2px 5px;
  transition: all 0.7s ease;
}

#check:checked ~ .sidebar {
  /* Repositions sidebar on check */
  left: 0;
}

#check:checked ~ label #btn {
  /* Hides and disables open button when Nav is open */
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  /* Repositions cancel button along with sidebar on open */
  left: 220px;
}

/* **********
  MAIN
********** */

main  {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#EAEBED;
}

br {
  line-height: 3px;
}

footer {
  display:block;
  position: fixed;
  bottom: 0;
  left: 50vw;
  padding-bottom: 10px;
  text-align: center;
  font-size: 10px;
}

footer a {
  /* remove link stylings */
  color: inherit;
  text-decoration: inherit;
}

.intro-box {
  /* configure text gradiant */
  background-color: #EAEBED;
  color: #EAEBED;
  background-image: linear-gradient(45deg, #EAEBED, #747474);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.intro-box h1 {
  font-size: 150px;
}

.intro-box h3 {
  font-size: 50px;
}

.intro-box h4 {
  font-size: 30px;
}

.intro-box span {
  color: #5EA5FA;
  -webkit-text-fill-color: #5EA5FA;
  -moz-text-fill-color: #5EA5FA;
  text-shadow: 8px 8px #014392;
}

.intro-box p {
  font-style: italic;
}

.intro-box button {
  color: white;
  -webkit-text-fill-color: #EAEBED;
  -moz-text-fill-color: #EAEBED;
  background-color: transparent;
  border: 2px solid #EAEBED;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.intro-box button:hover {
  font-weight: bold;
  box-shadow: 3px 3px #5EA5FA;
}

/* **********
  BIO
********** */

.body-box {
  color: #EAEBED;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-left: 250px;
  padding-right: 150px;
}

.body-box h2 {
  font-size: 200%;
}

.code-text {
  color: #747474;
  font-style: italic;
  font-size: 15px;
  display: block;
  line-height: 15px;
}

/* Code Indent Positions */
.indent-one{
  padding-left: 10px;
}
.indent-two{
  padding-left: 20px;
}
.indent-three {
  padding-left: 30px;
}
.indent-four {
  padding-left: 50px;
}

.indent-letter {
  font-weight: bold;
  font-size: 50px;
}

.education-list h3 {
  margin-left: 80px;
}

.education-list li{
 margin: 10px 10px 10px 150px;
}

#bio-intro {
  font-size: 30px;
}

#bio-intro p {
  padding-left: 35px;
}
#bio-intro h2 {
  padding-left: 20px;
}

#profile-pic {
  float: right;
  border: 3px solid  #EAEBED;
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}
