@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body  {
  font-family: 'Domine', sans-serif;
}

/* **********
  BACKGROUND
********** */

#background-video {
  /* Set video to 100% width and height */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  /* set content to start at top of window */
  position: fixed;
  top: 0;
}

/* **********
  SIDEBAR
********** */

.sidebar {
  /* sidebar is initally hidden upon page-load */
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgb(1, 21, 44, 0.5);
  transition:all 0.7s ease;
}

.sidebar header {
  font-size: 30px;
  color: #EAEBED;
  text-align: center;
  line-height: 100px;
  background-color: rgb(94, 165, 250, 0.7);
  user-select: none;
}

.sidebar ul a {
  /* Link display */
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: #EAEBED;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid #014392;
  border-bottom: 1px solid black;
  transition: 0.7s;
}

ul li:hover a {
  /* Hover effect */
  padding-left: 50px;
  background-color: #335B8A;
}

.sidebar ul a i {
  margin-right: 15px;
}

#check {
  /* Used to switch displays */
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  border-radius: 3px;
}

#btn {
  /* Set Nav Button inital position & display */
  left: 48px;
  top: 25px;
  font-size: 25px;
  color:#EAEBED;
  background-color: #01152C;
  padding: 6px 8px;
  transition: all 0.7s ease;
}

#cancel {
  /* Set Cancel Button inital postion & display */
  z-index: 1111;
  left: -220px;
  top: 5px;
  font-size: 25px;
  color:#EAEBED;
  padding: 2px 5px;
  transition: all 0.7s ease;
}

#check:checked ~ .sidebar {
  /* Repositions sidebar on check */
  left: 0;
}

#check:checked ~ label #btn {
  /* Hides and disables open button when Nav is open */
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  /* Repositions cancel button along with sidebar on open */
  left: 220px;
}

/* **********
  MAIN
********** */

